flows.json
[{"id":"48c1532f.c7ba2c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"87326bc.f293698","type":"mqtt in","z":"48c1532f.c7ba2c","name":"","topic":"uID","qos":"2","datatype":"auto","broker":"28f4bc1.5194044","x":70,"y":60,"wires":[["bdad1572.835798"]]},{"id":"9da4b2cb.8bdb8","type":"mysql","z":"48c1532f.c7ba2c","mydb":"d778bd77.d40fa","name":"","x":510,"y":120,"wires":[[]]},{"id":"bdad1572.835798","type":"json","z":"48c1532f.c7ba2c","name":"","property":"payload","action":"","pretty":false,"x":210,"y":60,"wires":[["a05e6336.e3a54","501e0612.a791b8"]]},{"id":"501e0612.a791b8","type":"function","z":"48c1532f.c7ba2c","name":"","func":"//var uID = msg.payload.ID;\n//var name = msg.payload.Name;\nmsg.topic = \"INSERT  INTO `data`(`uID`,`name`,`age`,`address`,`temp`) VALUE ('\"+msg.payload.ID+\"','\"+msg.payload.Name+\"','\"+msg.payload.Age+\"','\"+msg.payload.Address+\"','\"+msg.payload.temperature+\"')\";\n//msg.topic = \"INSERT  INTO `data`(`name`) VALUE ('\"+msg.payload.Name+\"')\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":180,"wires":[["9da4b2cb.8bdb8","53b84cf6.86c344"]]},{"id":"a05e6336.e3a54","type":"debug","z":"48c1532f.c7ba2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":60,"wires":[]},{"id":"53b84cf6.86c344","type":"debug","z":"48c1532f.c7ba2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":330,"y":260,"wires":[]},{"id":"28f4bc1.5194044","type":"mqtt-broker","name":"","broker":"broker.mqttdashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d778bd77.d40fa","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"csdl","tz":"","charset":"UTF8"}]